* {
    margin: 0px;
    padding: 0px;
}
.details {
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-color: rgb(83, 80, 80);
    color: white;
    border-radius: 0.5rem;
    font-weight: 5rem;
    border-style: solid;
}

.details h3 {
    font-size: 2rem;
}

.details hr {
    width: 150px;
}

.details button {
    border: 2px solid rgba(245, 243, 243, 0.795);
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.5rem;
}

