body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    height: 500px; 
}

.form-body{
    text-align: left;
    padding: 20px 20px;
    height : 400px;
}

.form-body > *{
    padding: 5px;
    height: 100px;
}

.form__label{
    width: 40%;
    text-align: inherit;
    display: inline-block;
}

.form_input{
    width: 60%;
    padding: 5px;
}

.footer{
    text-align: center;
}